body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 5px;
}

.ul-menu {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
}

.fundo-area {
    background-image: url(../images/areaprivada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    z-index: 0;
    display: flex;
    flex-direction: row-reverse;
}


.perfil {    
	background: #f5f5f5;
    width: 150px;
    height: 42px;
    border: #f5f5f5 solid;
    border-radius: 12px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Times, "Times New Roman", Georgia, serif;
	font-weight: 900;
    margin-right: 40px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s;
}

.user-image {
	width: 30px;
    height: 30px;
    padding-right: 13px
}

.input-search {
    position: relative;
    height: 94px;
    width: 608px;
    margin-right: auto;
    z-index: 1;
    margin-left: auto;
}
.search {
    width: 510px;
    padding: 10px 40px 10px 40px;
    border-radius: 12px;
    border: solid #f5f5f5;
    height: 25px;
    outline: none;
    background-color: #f5f5f5;
    margin-top: 40px;
}

.menu {
	background: #f5f5f5;
    width: 50px;
    height: 42px;
    border: #f5f5f5 solid;
	margin-top: 40px;
	border-radius: 12px;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    position: absolute;
    z-index: 2;
    left: 0px;
    transition: all 0.5s;
}

.search-image {
	width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 6px;
}

.filter-image {
	width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    left: 555px;
	cursor: pointer;
}

.menu-image {
	width: 50px;
    height: 50px;
	cursor: pointer;
}

.images {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100vw;
    height: 100vh;
}

.nav-options {
	width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
}

.modal-images {
    border: 6px solid white;
    align-self: center;
    align-content: center;
    height: 400px;
    width: 954px;
    border-radius: 9px;
    background-color: white;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    display: flex;
	flex-direction: column;
}

.no-images {
	width: 100px;
    height: 100px;
	padding: 10px
}

input[type="checkbox"] {
    display: none;
}

.nav-menu {
    background-color: white;
    width: 250px;
    height: 100%;
    left: -250px;
    z-index: 1;
    position: relative;
    transition: all 0.5s;
    border: 0px solid white;
    border-radius: 6px;
}

a:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

input[type="checkbox"]:checked ~ .nav-menu {
    left: 0px;
}

input[type="checkbox"]:checked ~ .menu {
    left: 150px;
    transition: all 0.55s;
}

.nav-user {
    background-color: #f5f5f5;
    width: 156px;
    height: 0px;
    z-index: 1;
    position: absolute;
    border: 0px solid #f5f5f5;
    border-radius: 6px;
    top: 85px;
    right: 40px;
    visibility: hidden;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: all 0.5s;
}

.ul-user{
    list-style: none;
    padding: 0;
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
}

input[type="checkbox"]:checked ~ .nav-user {
    visibility: visible;
    height: 110px;
}


input[type="checkbox"]:checked ~ .perfil {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.assine {
    margin-top: 28px;
    margin-right: 35px;
}

.btn-assine {
    border: 3px solid #b9b412;
    background-color: #b9b412;
    border-radius: 7px;
    height: 44px;
    width: 100px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    position: relative;
    top: 15px;
    outline: none;
    z-index: 1;
}
